apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: 262251629687.dkr.ecr.us-east-1.amazonaws.com/frontend:3b00b4b  
          ports:
            - containerPort: 80