apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: 262251629687.dkr.ecr.us-east-1.amazonaws.com/backend:9aaf9e4
          ports:
            - containerPort: 3000